.decorame{
    background-color: aquamarine;
    padding-top: 10px;
    border-radius: 25px;
    background-position: center;
    height: 20px;
    width: 90px;
}
.blue{
    color: rgb(201, 78, 16);
    letter-spacing: 1px;
    align-content: center;
}